.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  max-width: 60vw;
  margin: auto;
}

.heading {
  margin: 1rem;
}

.image {
  border-radius: 20px;
  border: 1px red solid;
}